html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.625vw;
  max-width: 60px;
  height: 50px;
  cursor: grab;
}

.list {
  display: flex;
  align-items: center;
  height: 50px;
  max-width: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.list-container {
  display: grid;
  gap: 20px;
  max-height: 120px;
}
