html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100%;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.25%;
  max-width: 40px;
  height: 60px;
  cursor: grab;
}

.list {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  max-width: 640px;
  border-radius: 8px;
  background: hsl(0, 4%, 95%);
}

.list-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px;
  align-items: center;
  justify-items: center;
  width: 90vw;
  gap: 20px;
}

.toolbar {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.pushable {
  background: hsl(25, 22%, 45%);
  border-radius: 10px;
  border: none;
  padding: 0;
  cursor: pointer;
}

.front {
  display: block;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 0.85rem;
  padding: 10px 10px;
  border-radius: 8px;
  background: hsl(54, 39%, 46%);
  color: #ffffff;
  transform: translateY(-3px);
}

.pushable:active .front {
  transform: translateY(-2px);
}

.instructions {
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 0.85rem;
  max-width: 640px;
  text-align: center;
  color: #919090;
  margin-bottom: 100px;
}
