html,
body {
  margin: 0;
  padding: 0;

  max-width: 100vw;
  height: 100vh;
  display: grid;
  align-items: center;
}

body {
  padding-left: 5vw;
  padding-right: 5vw;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.25vw;
  max-width: 60px;
  height: 52px;
}

.list {
  display: flex;
  align-items: center;
  height: 60px;
  max-width: 90vw;
  width: 100%;
  background-color: antiquewhite;
  border-radius: 8px;
}

.list-container {
  display: grid;
  gap: 20px;
}
